# Configuración de Docker

# Configuración de Docker
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=
BACKEND_PORT=
FRONTEND_PORT=

# URL de conexión para el backend (usada por Prisma)
# Ejemplo: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}?schema=public
DATABASE_URL=
