# Configuración de Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=campus_virtual
DB_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173

# URL de conexión para el backend (usada por Prisma)
# En Docker, el host de la BD debe ser el nombre del servicio 'db'
DATABASE_URL="postgresql://postgres:postgres@db:5432/campus_virtual?schema=public"
