# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de base de datos (Ejemplo)
DATABASE_URL="postgresql://your_user:your_password@localhost:5432/your_db?schema=public"

# Secretos (Ejemplo)
JWT_SECRET=your_jwt_secret_here
