# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de base de datos (Ejemplo)
DATABASE_URL=mongodb://localhost:27017/campus_virtual

# Secretos (Ejemplo)
JWT_SECRET=super-secret-key
