# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de base de datos (Ejemplo)
# Ejemplo: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public
DATABASE_URL=

# Secretos (Ejemplo)
# JWT_SECRET= (define tu secreto en .env local)
JWT_SECRET=
